{% extends 'base.html' %}

{% block title %}
Main page title
{% endblock %}

{% block content %}

<h1>Main page</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Consequatur laudantium doloribus est cum.</li>
<li>Eum cumque odit libero numquam!</li>
<li>Iusto, laboriosam. Quibusdam, consequuntur placeat?</li>
<li>Culpa fugiat eaque asperiores! Alias!</li>
<li>Labore fugiat quo porro dolorum!</li>
<li>Aut voluptatibus obcaecati magni nesciunt.</li>
<li>Expedita quod nisi aliquam dicta?</li>
<li>Minima laborum laboriosam nihil aperiam.</li>
<li>Non cum iusto porro tempore!</li>
<li>Minima recusandae maxime illo totam!</li>
<li>Quisquam provident nemo voluptates aut.</li>
<li>Quos, placeat amet. Quam, iure!</li>
<li>Laboriosam magni dignissimos nihil consectetur.</li>
<li>Debitis officiis voluptas consectetur harum?</li>
<li>Nam debitis sed voluptate assumenda.</li>
<li>Quam, mollitia? Nesciunt, pariatur eos.</li>
<li>Quaerat quod saepe exercitationem libero.</li>
<li>Facilis quam aperiam ex laudantium.</li>
<li>Error distinctio reiciendis dolorem iste?</li>
<li>Quidem voluptates sequi quae dolore?</li>
<li>Numquam ullam iste odit doloribus!</li>
<li>Nesciunt explicabo aliquid repudiandae obcaecati.</li>
<li>Laudantium reprehenderit fugit sapiente asperiores.</li>
<li>Veritatis, facilis commodi! Labore, quibusdam!</li>
<li>Nemo veritatis neque suscipit praesentium?</li>
<li>Vero accusamus cumque similique hic.</li>
<li>Culpa consequatur ipsa rem expedita!</li>
<li>Distinctio explicabo sit velit excepturi!</li>
<li>Illum laborum quibusdam debitis modi.</li>
<li>Enim qui temporibus necessitatibus eius.</li>
<li>Nam obcaecati laborum velit praesentium?</li>
<li>Quam aut sapiente officia quasi.</li>
<li>Dolores ad placeat adipisci ut?</li>
<li>Ducimus, sunt veritatis. Expedita, laudantium.</li>
<li>Corrupti architecto reprehenderit perspiciatis exercitationem.</li>
<li>Ea quam accusantium repellat alias.</li>
<li>Quidem quia praesentium pariatur tempora?</li>
<li>Maiores, ut et. Non, asperiores!</li>
<li>Et reprehenderit consequuntur quidem corrupti?</li>
<li>Recusandae sapiente accusantium dolore consequuntur.</li>
<li>Hic at minus consequuntur fugit.</li>
<li>Maiores dicta quod esse aut!</li>
<li>Repudiandae nihil animi at iste.</li>
<li>Recusandae perspiciatis velit quae dignissimos!</li>
<li>Necessitatibus ratione corrupti illo vitae!</li>
<li>Eos reprehenderit temporibus consectetur illum!</li>
<li>Exercitationem similique voluptatem iste ducimus!</li>
<li>Alias obcaecati eos voluptatum veritatis.</li>
<li>Natus nulla omnis harum ex.</li>
<li>Dolorum aliquid vitae enim dolor.</li>
<li>Tenetur voluptatibus aperiam quo quae.</li>
<li>Autem ea maxime voluptate? Magnam.</li>
<li>Maxime consectetur error debitis sunt.</li>
<li>Inventore suscipit non accusantium ipsum!</li>
<li>Accusantium perferendis quis obcaecati ipsa?</li>
<li>Explicabo ad voluptatibus excepturi quibusdam?</li>
<li>Animi ullam culpa tenetur hic.</li>
<li>Similique consectetur recusandae dolor placeat?</li>
<li>Quaerat eaque voluptate numquam error?</li>
<li>Vel blanditiis quia nesciunt perferendis?</li>
<li>Placeat esse illum dicta quasi!</li>
<li>Laborum omnis animi aperiam ad?</li>
<li>Officia laudantium facere consequuntur inventore?</li>
<li>Repellat obcaecati nam at iusto?</li>
<li>Odio eum obcaecati repellendus aperiam!</li>
<li>Cumque minima quibusdam impedit enim.</li>
<li>Earum quae cumque debitis iusto.</li>
<li>Possimus, atque? Omnis, laborum ipsa.</li>
<li>Unde omnis dolores quod voluptatum?</li>

{% endblock %}